&#home {
  background-image: url("./../img/people-phone-notebook-warmy.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  > h1 {
    animation: 4s ease-out 0s 1 onLoadTitle;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 5em;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 50px #000, 0 0 60px #EEE;
  }

  .text-block {
    animation: 400ms ease-out 0s 1 onLoadTextBlock;
    max-width: 60vw;
    font-family: 'Roboto', sans-serif;
    background: rgba(50, 50, 50, 0.7);
    padding: 30px;
    color: #FFF;
    text-shadow: 0 2px 5px #000;
    position: absolute;
    bottom: 50px;

    h2 {
      animation: 800ms ease-out 0s 1 onLoadTextBlockText;
      font-size: 2em;
    }

    p {
      animation: 800ms ease-out 0s 1 onLoadTextBlockText;
      font-size: 1.5em;
    }
  }
}
