aside {
  @include transition(opacity 200ms);
  @include will-change(opacity);
  font-family: 'Roboto', sans-serif;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;

  // transform: translateX(100%);
  opacity: 0.3;
  animation: 2s ease-out 0s 1 onLoadAside; // forwards;

  &:hover {
    opacity: 1;
  }

  @import "nav";
}
