nav {
  align-self: center;
  list-style: none;
  padding-right: 15px;

  li {
    padding: 5px;
    color: #FFF;
    text-align: right;
    user-select: none;
    text-shadow: 0 0 30px #000;

    &.active {
      &:after {
        // background: #FFF;
      }
    }

    a {
      @include transition((opacity 400ms, margin-right 400ms));
      @include will-change((opacity, margin-right));
      margin-right: 12px;
      opacity: 0;
      color: #FFF;
      text-decoration: none;
    }

    &:hover {
      a {
        margin-right: 0;
        opacity: 1;
      }

      &:after {
        background: #FFF;
      }
    }

    &:after {
      @include pseudo(inline-block, initial);
      @include transition(all 200ms);
      background-color: transparent;
      height: 5px;
      width: 5px;
      opacity: 1;

      border: 2px solid #FFF;
      border-radius: 50%;
    }
  }
}
