@keyframes onLoadTitle {
  0% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 1;
  }
  60% {
    text-shadow: 0 0 50px #000
  }
  100% {
    text-shadow: 0 0 50px #000, 0 0 60px #EEE;
  }
}

@keyframes onLoadAside {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes onLoadHeaderNav {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
  }
  100% {
    opacity: inherit;
  }
}

@keyframes onLoadTextBlock {
  0% {
    transform: translateX(-2%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes onUnloadTextBlock {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(2%);
    opacity: 0;
  }
}

@keyframes onLoadTextBlockText {
  0% {
    transform: translateX(-2%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
