nav {
  animation: 2s ease-out 0s 1 onLoadHeaderNav;
  display: inline-flex;
  list-style: none;
  margin: 0 auto;

  li {
    padding: 15px;
    @include transition(background 200ms);
    @include will-change(background);

    &.active {
      font-weight: bold;
    }

    &:hover {
      background: rgba(50, 50, 50, 0.5);
    }

    a {
      color: #FFF;
      text-decoration: none;
    }
  }
}
